{% extends "../_templates/layout.njk" %}
{% block content %}

 <!-- main-img -->
 <div class="shopping-main-img haircare-main-img"></div>
 <!-- box02 -->
 <article class="shopping-product-wrap">
   <div class="inner">
     <div class="text-wrap">
       <h3>Hair Care</h3>
       <ul>
         <li><a href="#">로즈마리 스케일링</a></li>
         <li><a href="#">티트리 퓨리파잉</a></li>
         <li><a href="#">퀴노아 프로틴</a></li>
         <li><a href="#">사이프러스 딥클렌징</a></li>
       </ul>
     </div>
     <a href="../html/detailPage.html">
     <ul class="goods-wrap">
       <!-- 1 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo01.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 400ML</p>
             <span>24,000원</span>
             </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>

             </button>
          </div>
       </li>
       <!-- 2 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo02.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 1L</p>
             <span>50,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 3 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo03.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 180ML</p>
             <span>15,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 4 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo04.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 리필 500ML</p>
             <span>22,100원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 5 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo05.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 400ML & 리필</p>
             <span>35,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 6 -->
       <li>
         <div>
           <div class="img-box">
             <figure> 
              <img src="../../assets/images/teatree/shampoo06.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸 1L X2</p>
             <span>70,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 7 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo07.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 토닉 100ML</p>
             <span>16,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 8 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo08.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 토닉 100ML & 리필</p>
             <span>32,200원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 9 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo09.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 토닉 리필 300ML</p>
             <span>30,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 10 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/teatree/shampoo10.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>티트리 퓨리파잉 샴푸바 130G</p>
             <span>22,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
     </ul>
   </a>

   </div>
 </article>

{% endblock %}