{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="shopping-container">
 <!-- main-img -->
 <div class="shopping-main-img new-main-img"></div>
 <!-- 제품 -->
 <article class="shopping-product-wrap">
   <div class="inner">
     <div class="text-wrap">
       <h3>New Arrivals</h3>
       <p>가장 먼저 만나보는 아로마티카의 신제품</p>
     </div>
     <ul class="goods-wrap">
       <!-- 1 -->
       <li>
         <div>
           <div class="img-box">
             <!-- 1 -->
             <figure>
               <img src="../../assets/images/newItem/01.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>글로우 비타 굿나잇 크림 오렌지 앤 네롤리 90g</p>
             <span>24,000원</span>
             </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>

             </button>
          </div>
       </li>
       <!-- 2 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
               <img src="../../assets/images/newItem/02.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>유리 돌고래 괄사</p>
             <span>50,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 3 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
               <img src="../../assets/images/newItem/03.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>언버든 스트레스 릴리프 밤</p>
             <span>15,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 4 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
               <img src="../../assets/images/newItem/04.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>슬립타이트 필로우 미스트 100ML</p>
             <span>22,100원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 5 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/newItem/05.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>에센셜 새니타이저 그레이프프룻 & 탠저린 500ML</p>
             <span>35,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
       <!-- 6 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/newItem/06.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>서렌 바디워시 라벤더 & 마조람 500ML</p>
             <span>70,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
          <!-- 7 -->
          <li>
           <div>
             <div class="img-box">
               <figure>
               <img src="../../assets/images/newItem/07.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>바이탈라이징 로즈마리 올인원 워시 500ML</p>
               <span>16,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
            <!-- 8 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/newItem/08.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>리츄얼 헤어오일 자스민 & 베티버 50ML</p>
             <span>32,200원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
          <!-- 9 -->
          <li>
           <div>
             <div class="img-box">
               <figure>
               <img src="../../assets/images/newItem/09.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>로즈마리 솔트 스크럽 샴푸 500G</p>
               <span>30,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
            <!-- 10 -->
       <li>
         <div>
           <div class="img-box">
             <figure>
              <img src="../../assets/images/newItem/10.jpeg" alt="" />
             </figure>
           </div>
           <div class="text-box">
             <p>퓨어 앤 소프트 여성청결제 캐모마일 & 티트리 170ML</p>
             <span>22,000원</span>
           </div>
             <button>
               CART
               <div class="like-icon">
                 <i class="far fa-heart"></i>
               </div>
             </button>

         </div>
       </li>
     </ul>
   </div>
 </article>
</div>
{% endblock %}