{% extends "../_templates/layout.njk" %}
{% block content %}

   <!-- main-img -->
   <div class="shopping-main-img zero-main-img"></div>
   <!-- 제품 -->
   <article class="shopping-product-wrap">
     <div class="inner">
       <div class="text-wrap">
         <h3>Zero Waste</h3>
         <p>잔재쓰레기를 줄이고 환경을 살리는 제품들을 만나보세요</p>
       </div>
       <ul class="goods-wrap">
         <!-- 1 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
              <img src="../../assets/images/zero/01.jpeg" alt="" />

               </figure>
             </div>
             <div class="text-box">
               <p>월 디스펜서 홀더 2구</p>
               <span>24,000원</span>
               </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>

               </button>
            </div>
         </li>
         <!-- 2 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
                <img src="../../assets/images/zero/02.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>대나무 칫솔 듀오</p>
               <span>5,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
         <!-- 3 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
                <img src="../../assets/images/zero/03.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>대나무 칫솔 10P</p>
               <span>15,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
         <!-- 4 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
                <img src="../../assets/images/zero/04.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>리넨 샤워 타월</p>
               <span>22,100원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
         <!-- 5 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
                <img src="../../assets/images/zero/05.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>다회용 대나무 화장솜 5EA</p>
               <span>35,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>

           </div>
         </li>
         <!-- 6 -->
         <li>
           <div>
             <div class="img-box">
               <figure>
                <img src="../../assets/images/zero/06.jpeg" alt="" />
               </figure>
             </div>
             <div class="text-box">
               <p>실리콘 비누받침</p>
               <span>70,000원</span>
             </div>
               <button>
                 CART
                 <div class="like-icon">
                   <i class="far fa-heart"></i>
                 </div>
               </button>
           </div>
         </li>
       </ul>
     </div>
   </article>

{% endblock %}