<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Aromatica Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>아로마티카</title>

  <!-- jquery cdn + load skin -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- slick slide -->
  <link rel="stylesheet" type="text/css" href="../../js/ui/lib/slick.css"/>
  <script type="text/javascript" src="../../js/ui/lib/slick.min.js"></script>

  <!-- swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script
    src="https://kit.fontawesome.com/82ebd05d63.js"
    crossorigin="anonymous"
  ></script>
  <!-- swiper -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  />


  <!-- style -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css" />

</head>

<body>

    {% include("./default/header.njk") %}

    <main class="main-container">
      {% block content %} {% endblock %}
    </main>

    {% include("./default/footer.njk") %}

</body>

</html>
