<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="title">
  <meta name="copyright" content="Copyright ⓒ Aromatica Corp.All Rights Reserved.">
  <meta name="description" content="">
  <title>아로마티카</title>

  <!-- jquery cdn + load skin -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- slick slide -->
  <link rel="stylesheet" type="text/css" href="../../js/ui/lib/slick.css"/>
  <script type="text/javascript" src="../../js/ui/lib/slick.min.js"></script>

  <!-- swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script
    src="https://kit.fontawesome.com/82ebd05d63.js"
    crossorigin="anonymous"
  ></script>
  <!-- font -->
  <script src="https://kit.fontawesome.com/72ae761282.js" crossorigin="anonymous"></script>
  <!-- swiper -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  />


  <!-- style -->
  <link rel="stylesheet" type="text/css" href="../../css/style.css" />

</head>

<body>

    {% include("./default/header.njk") %}

    <main class="main-container">
      {% block content %} {% endblock %}
    </main>

    <!-- btn-section -->
    <section class="fixed-btn">
      <div class="top-btn" onclick="window.scrollTo(0,0);">
      <p>TOP</p>
      </div>
      <div class="my-wrap">
      <div class="user-btn">
      <i class="fa-solid fa-user"></i>
      </div>
      <div id="cart-btn">
          <p>3</p>
      <i class="fa-solid fa-cart-shopping"></i>
      </div>
      </div>
    </section>

    <!-- modal-section -->
        <!-- cart-modal -->
    <div id="modal" class="cart-wish-wrap-overlay">
      <div class="wrap-window">
        <section class="cart-wrap">
          <div class="inner">
            <div class="title-wrap">
              <div class="cancel-btn">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <h4>CART</h4>
              <p>장바구니 내역을 확인해주세요.</p>
            </div>
            <div class="product-wrap">
              <h5>Product</h5>
              <p>장바구니가 비어 있습니다.</p>
            </div>
          </div>
        </section>
        <section class="wish-wrap">
          <div class="inner">
            <div class="title-wrap">
              <h4>YOU MAY ALSO LIKE</h4>
            </div>
            <div class="product-wrap">
              <ul>
                <li>
                  <img src="/img/wish/wish01.jpeg" alt="wish01" />
                  <span>리바이빙 로즈 인퓨전 크림 클렌저 145G</span>
                  <p>24,000원</p>
                </li>
                <li>
                  <img src="/img/wish/wish02.jpeg" alt="wish02" />
                  <span>서렌 아로마테라피 미스트 라벤더 & 마조람 200ML</span>
                  <p>20,000원</p>
                </li>
                <li>
                  <img src="/img/wish/wish03.jpeg" alt="wish03" />
                  <span>컴포팅 칼렌둘라 디콕션 쥬시크림 150ML</span>
                  <p>30,000원</p>
                </li>
                <li>
                  <img src="/img/wish/wish01.jpeg" alt="wish01" />
                  <span>리바이빙 로즈 인퓨전 크림 클렌저 145G</span>
                  <p>24,000원</p>
                </li>
                <li>
                  <img src="/img/wish/wish02.jpeg" alt="wish02" />
                  <span>서렌 아로마테라피 미스트 라벤더 & 마조람 200ML</span>
                  <p>20,000원</p>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    {% include("./default/footer.njk") %}

  <script>
  const modal = document.getElementById("modal")
  
  function modalOn() {
    modal.style.display = "flex"
  }
  function modalOff() {
    modal.style.display = "none"
  }
  const btnModal = document.getElementById("cart-btn")
  btnModal.addEventListener("click", e => {
    modalOn()
})
const closeBtn = modal.querySelector(".cancel-btn")
closeBtn.addEventListener("click", e => {
    modalOff()
})
modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("cart-wish-wrap-overlay")) {
        modalOff()
    }
})</script>
</body>

</html>
