{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="custom-container">
  <!-- main-back-ground -->
  <main class="custom-main-wrap">
    <h3>Make Your Own Product</h3>
  </main>
  <div class="custom-box">
    <article class="custom-how-wrap">
      <section class="title-wrap">
        <p>1.11(수) ~ 3.19(목)</p>
        <h4>나만의 아로마티카 만드는 방법</h4>
      </section>
      <section class="sub-wrap">
        <ul>
          <li>
            1. 공식홈페이지 회원가입, 로그인하기(회원전용 이벤트 입니다.)
          </li>
          <li>2. 차례대로 커스텀 진행하기</li>
          <li>3. 나만의 제품에 담고싶은 메세지 기입하기</li>
          <li>4. 나만의 레시피 공유하고 적립금 받기</li>
        </ul>
      </section>
    </article>
    <article class="custom-wrap">
      <div class="inner">custom box</div>
    </article>
    <article class="custom-caution-wrap">
      <div class="inner">
        <div class="caution">
          <p>*이벤트 유의사항*</p>
          <ul>
            <li>
              - 본이벤트는 아로마티카 공식 홈페이지에서만 진행되는
              이벤트입니다.
            </li>
            <li>
              - 본 이벤트 참여시 개인정보 수집 및 활용에 도으이한 것으로
              간주됩니다.
            </li>
            <li>
              - 본사 사정에 따라 행사 내용이 변경 및 조기 종료될 수
              있습니다.
            </li>
          </ul>
        </div>
        <div class="caution">
          <p>*개인정보 수집 및 활용*</p>
          <ul>
            <li>
              - 수집 목적: 나만의 아로마티카 제품 만들기 이벤트 참여
            </li>
            <li>- 수집 항목: 아이디, 성함, 전화번호, 주소</li>
            <li>- 보관 기간: 2024년 1월 17일(수)</li>
            <li>
              수집 동의를 거부할 수 있으나, 동의 거부시 이벤트 참여/
              안내에 제한이 있을 수 있습니다.
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}
