{% extends "../_templates/layout.njk" %}
{% block content %}


  <div class="event-container">
    <div class="event-title-wrap">
      <h3>이벤트</h3>
      <div class="event-form-wrap">
        <form class="check-box" action="getform.php" method="get">
          <label><input type="radio" name="제목" />제목</label><br />
          <label><input type="radio" name="내용" />내용</label>
          <div class="search-box">
          <form action="">
            <input type="search" name="search" />
            <button class="event-btn">검색</button>
          </form>
        </div>
      </form>
      </div>
    </div>
    <div class="event-content-wrap">
      <ul>
        <li>
          <img src="../../assets/images/care/event01.jpeg" alt="">
          <p class="event-content-title">스킨케어 쿠폰</p>
          <span>매주 달라지는 쿠폰과 함께 쇼핑하기!</span>
          <p>2023-04-01~2023-04-17</p>
        </li>
        <li>
          <img src="../../assets/images/care/aroma.jpeg" alt="">
          <p class="event-content-title">나만의 아로마티카 만들기</p>
          <span>커스터마이징 open</span>
          <p>2023-03-01~</p>
        </li>
        <li>
          <img src="../../assets/images/main/main11.jpeg" alt="">
          <p class="event-content-title">카카오톡 선물하기 할인</p>
          <span>카카오톡으로 선물해보세요!</span>
          <p>2023-07-01~2023-08-31</p>
        </li>

      </ul>
    </div>
  </div>


{% endblock %}