{% extends "../_templates/layout.njk" %}
{% block content %}
<div class="solution-container">
  <!-- main text -->
  <!-- article 01 -->
  <article class="main-text-box">
    <h3>Solution</h3>
    <ul>
      <li><a href="../solution/pickup.html">공병수거신청</a></li>
      <li><a href="../solution/recylce-guide.html">분리배출가이드</a></li>
    </ul>
  </article>
  <!-- main-img -->
  <main class="img-wrap">
    <p>Recycling Campaign</p>
  </main>
  <!-- article 02 -->
  <article class="explain-wrap">
    <div class="text-wrap">
      <h5>
        공병 수거 캠페인 <br />
        사랑한다면, [용기내]
      </h5>
      <p class="middle-p">
        아로마티카의 오프라인 공간, '아로마티카 제로스테이션'을 오픈하면서
        가장 먼저 시작해보고 싶은 일은 "공병 재활용 캠페인" 이었어요.
        무엇보다도, 오랜 시간 아로마티카를 사랑해주신 많은 고객 분들의
        요청이 끊이지 않았던 캠페인이기도 해요.
      </p>
      <p>
        아로마티카의 오랜 준비와 노력을 통해 PCR 100% PET, PCR 90% GLASS
        제품을 출시하게 되었기에 아로마티카를 사랑해주신 고객분들과 함께
        시작하고자 합니다!
      </p>
    </div>
    <div class="recylcle-wrap">
      <div class="glass-plastic-wrap">
        <ul>
          <li>
            <img src="../../img/picup/glass01.jpg" alt="glass" />
            <p>용기 수거</p>
          </li>
          <li>
            <img src="../../img/picup/glass02.jpg" alt="glass" />
            <p>분류 및 세척</p>
          </li>
          <li>
            <img src="../../img/picup/glass03.jpg" alt="glass" />
            <p>
              파유리 90%, 규사 10% <br />
              융합용해
            </p>
          </li>
          <li>
            <img src="../../img/picup/glass04.jpg" alt="glass" />
            <p>
              아로마티카 제품으로 <br />
              재탄생
            </p>
          </li>
        </ul>
      </div>
      <div class="glass-plastic-wrap">
        <ul>
          <li>
            <img src="../../img/picup/pla01.jpg" alt="plastic" />
            <p>용기수거</p>
          </li>
          <li>
            <img src="../../img/picup/pla02.jpg" alt="plastic" />
            <p>분류 및 세척</p>
          </li>
          <li>
            <img src="../../img/picup/pla03.jpg" alt="plastic" />
            <p>PCR 펠릿 제조</p>
          </li>
          <li>
            <img src="../../img/picup/pla04.jpg" alt="plastic" />
            <p>
              아로마티카 제품으로 <br />
              재탄생
            </p>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <!-- article 03 -->
  <article class="return-wrap">
    <div class="return-way-wrap">
      <ul>
        <!-- 1 -->
        <li>
          <img src="../../img/picup/return-way01.jpg" alt="way01" />
          <h6>01</h6>
          <p>
            사용한 제품을 깨끗이<br />
            세척 후 반납 준비
          </p>
        </li>
        <!-- 2 -->
        <li>
          <img src="../../img/picup/return-way02.jpg" alt="way02" />
          <h6>02</h6>
          <p>
            AROMATICA 제로스테이션<br />
            예약 후 방문 또는 택배 접수 이용
          </p>
          <span
            >택배 발송 시 포인트 지급을 위해 상자에 공식몰 아이디, 고객
            이름, 전화번호를 메모하여 보내주세요.</span
          >
          <span
            >VVIP+ / VVIP / VIP / FRIEND+ / FRIEND : 택배비 고객 부담
            (선불) 공병 보내는 곳 : 강남구 도산대로 1길 62 1층
            아로마티카</span
          >
        </li>
        <!-- 3 -->
        <li>
          <img src="../../img/picup/return-way03.jpg" alt="way03" />
          <h6>03</h6>
          <p>
            아로마티카 공식몰<br />
            멤버십 확인 및 포인트 증정
          </p>
          <span
            >커뮤니티 > 공병수거신청 내 게시판 신청 수거 용기 1개당 500P
            증정 포인트는 차주 일괄 적용</span
          >
        </li>
      </ul>
    </div>
    <div class="pickup-wrap">
      <p>
        나와 지구를 생각한 제로 웨이스트 라이프 스타일을 꿈꾼다면,<br />
        사랑한다면, [용기내] 캠페인에 참여해보세요.
      </p>
      <button><a href="./pickupForm.html">공병수거 신청하기</a></button>
    </div>
  </article>
</div>

{% endblock %}
