{% extends "../_templates/layout.njk" %}
{% block content %}

<div class="solution-container recylce-guide-wrap">
  <!-- main text -->
  <!-- article 01 -->
  <article class="main-text-box">
    <h3>Solution</h3>
    <ul>
      <li><a href="../solution/pickup.html">공병수거신청</a></li>
      <li><a href="../solution/recylce-guide.html">분리배출가이드</a></li>
    </ul>
  </article>
  <!-- main-img -->
  <main class="img-wrap">
    <p>Recycling Campaign</p>
  </main>
  <!-- effect wrap -->
  <section class="e-g-wrap effect-wrap">
    <div class="text-wrap">
      <h4>EXPECTED EFFECT</h4>
      <p>지속가능 패키지의 효과</p>
    </div>
    <div class="graph-wrap">
      <!-- 탄소 절감 그래프 -->
      <div class="carbon-energy-wrap carbon-wrap">
        <h6>탄소발자국 감소율</h6>
        <ul>
          <li>
            <dfn>종이포장재</dfn>
            <span>63%</span>
          </li>
          <li>
            <dfn>90% 재활용 유리</dfn>
            <span>81%</span>
          </li>
          <li>
            <dfn>100% 재활용 플라스틱</dfn>
            <span>79%</span>
          </li>
        </ul>
      </div>
      <!-- 에너지 절감 그래프 -->
      <div class="carbon-energy-wrap energy-wrap">
        <h6>에너지 절감율</h6>
        <ul>
          <li>
            <dfn>종이포장재</dfn>
            <span>64%</span>
          </li>
          <li>
            <dfn>90% 재활용 유리</dfn>
            <span>40%</span>
          </li>
          <li>
            <dfn>100% 재활용 플라스틱</dfn>
            <span>80%</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- guide-wrap -->
  <section class="e-g-wrap guide-wrap">
    <div class="text-wrap">
      <h4>GUIDE</h4>
      <p>분리배출 가이드</p>
    </div>
    <!-- glass -->
    <article class="guide-info-wrap glass-wrap">
      <div class="info-text">
        <h6>유리 분리배출방법</h6>
      </div>
      <div class="info-img-wrap">
        <ul class="book-mark-wrap" id="glass-guide-tab">
          <li class="active" data-glasstarget="target01">
            <img src="../../assets/images/package/recycle/glass_001.png" alt="">
            <p>펌프</p>
          </li>
          <li data-glasstarget="target02">
            <img src="../../assets/images/package/recycle/glass_002.png" alt="">
            <p>캡</p>
          </li>
          <li data-glasstarget="target03">
            <img src="../../assets/images/package/recycle/glass_003.png" alt="">

            <p>스포이드</p>
          </li>
        </ul>
        <ul class="guide-img" id="target01" style="display: flex;">
          <li>
            <img src="../../img/package/recycle/glass_001.png" alt="" />
          </li>
          <li>
            <img src="../../img/package//recycle/glass_001_B.png" alt="" />
          </li>
        </ul>
        <ul class="guide-img" id="target02">
          <li>
            <img src="../../img/package/recycle/glass_002.png" alt="" />
          </li>
          <li>
            <img src="../../img/package//recycle/glass_002_B.png" alt="" />
          </li>
        </ul>
        <ul class="guide-img" id="target03">
          <li>
            <img src="../../img/package/recycle/glass_003.png" alt="" />
          </li>
          <li>
            <img src="../../img/package//recycle/glass_003_B.png" alt="" />
          </li>
        </ul>
      </div>
    </article>
    <!-- plastic -->
    <article class="guide-info-wrap plastic-wrap">
      <div class="info-text">
        <h6>플라스틱 분리배출방법</h6>
      </div>
      <div class="info-img-wrap">
        <ul class="book-mark-wrap">
          <li>
            <img src="../../assets/images/package/recycle/plastic_001.png" alt="">
            <p>펌프</p>
          </li>
          <li>
            <img src="../../assets/images/package/recycle/plastic_002.png" alt="">
            <p>캡</p>
          </li>
          <li>
            <img src="../../assets/images/package/recycle/plastic_002.png" alt="">
            <p>스포이드</p>
          </li>
        </ul>
        <ul class="guide-img">
          <li>
            <img src="../../img/package/recycle/plastic_001.png" alt="" />
          </li>
          <li>
            <img src="../../img/package/recycle/plastic_001_B.png" alt="" />
          </li>
        </ul>
      </div>
    </article>
  </section>
</div>
  <!-- aside -->
  <div id="aside"></div>

  <!-- footer -->
  <div id="footer"></div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // S: 유리 분리 배출 방법 
      const glassTabListItem = document.querySelectorAll('#glass-guide-tab li');
      for(let i = 0; i < glassTabListItem.length; i++) {
        glassTabListItem[i].addEventListener('click', () => {

          // 이미지 아이디값을 가져온 변수
          let target = document.querySelector('#' + glassTabListItem[i].dataset.glasstarget)

          // 형제 노드 remove를 위한 반복문
          for(let i = 0;i < glassTabListItem.length; i++) {
           glassTabListItem[i].classList.remove('active') 
           let removeTarget = document.querySelector('#' + glassTabListItem[i].dataset.glasstarget)
           removeTarget.style.display = 'none'
          }

          glassTabListItem[i].classList.add('active')
          target.style.display = 'flex'
        })
      }
      // E: 유리 분리 배출 방법 


      // S: 플라스틱 분리 배출 방법
      // E: 플라스틱 분리 배출 방법
    })
  </script>


{% endblock %}
