{% extends "../_templates/layout.njk" %}
{% block content %}
<div class="detail-page-container">
  <!-- up text -->
  <div class="up-text-wrap">
    <p>전구매 무료 배송, 첫 구매 시 사은품 증정</p>
  </div>
  <!-- main product -->
  <main class="product-wrap">
    <div class="inner">
      <!-- 카테고리 -->
      <div class="category">
        <ul>
          <li><a href="../index.html">홈 /</a></li>
          <li><a href="../html/shopping.html">헤어케어 /</a></li>
          <li><a href="#">티트리 퓨리파잉 샴푸 400ml</a></li>
        </ul>
      </div>
      <!-- 메인 상품  -->

      <section class="main-box">
        <div class="product-index">
          <ul class="product-ul">
            <li class="star-wrap">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half"></i>
            </li>
            <li>(리뷰 25개)</li>
          </ul>
          <div class="hot">
            <p>HOT</p>
          </div>
          <h2>티트리 퓨리파잉 샴푸</h2>
              <!--   -->
          <ul class="images">
            <img class="small"src="../../assets/images/teatree/shampoo01-02.jpeg"></img>
            <img class="small" src="../../assets/images/teatree/shampoo01-03.jpeg"></img>
            <img class="small" src="../../assets/images/teatree/shampoo01-04.jpeg"></img>

          </ul>
        </div>
        <div class="big-img">
          <img id="big" src="../../img/teatree/shampoo01-02.jpeg" alt="" />
        </div>
        <div class="product-price">
          <div class="price">
            <p>24,000원</p>
            <div class="amount-wrap">
              <i class="fa-solid fa-plus"></i>
              <p>1</p>
              <i class="fa-solid fa-minus"></i>
            </div>


          </div>
          <div class="price-text">
            <p>용량 400ml</p>
            <p>향 리치, 베티버</p>
          </div>
          <button onclick="myFunction()">장바구니 담기</button>
        </div>
      </section>
    </div>
  </main>
  <!-- 제품설명 아코디언 -->
  <article class="accordian-box">
    <!-- 제품설명 보기 -->
    <section class="description-wrap">
      <div class="accordian">
        <h5>제품설명 보기</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="panel">
        <div class="img-wrap">
          <img src="../../img/teatree/3_PCMO.png" alt="">
        </div>
        <div class="letter-wrap">
          <div class="topic-box">
            <dl>
              <dt>혜택</dt>
              <dd># 유분 컨트롤</dd>
              <dd># 산뜻한 정수리</dd>
              <dd># 모공 청정</dd>
              <dd># 쿨링 & 진정</dd>
              <dd># 탈모기능성</dd>
            </dl>
            <dl>
              <dt>사용법</dt>
              <dd>
                적당량을 덜어 거품을 낸 뒤 젖은 두피와 모발에 골고루
                마사지하고, 깨끗하게 헹구어 줍니다.
              </dd>
            </dl>
          </div>
          <div class="content-box">
            <p>
              두피의 과도한 유분을 시원하게 씻어내 청결한 두피와 모발 유지에
              도움을 주는 두피 샴푸. 티트리가 과잉 피지를 케어하여 하루 종일
              떡지지 않고 산뜻한 두피 환경을 만들어줍니다. 페퍼민트와 박하가
              열 오른 두피를 빠르게 쿨링하여 두피 불편감을 해소합니다.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- 원료 보기 -->
    <section class="description-wrap">
      <div class="accordian">
        <h5>원료</h5>
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="panel">
        <div class="img-wrap">
          <img src="../../img/teatree/4_PCMO.png" alt="" />
        </div>
        <dl class="letter-wrap">
          <dt>티트리</dt>
          <dd class="inside">Purifying · Calming · Cooling · Refresh</dd>
          <dd>
            티트리는 두피 과잉 피지를 컨트롤하여 하루 종일 산뜻한 두피
            유지에 도움을 줍니다.
          </dd>
        </dl>
      </div>
    </section>
  </article>
  <!-- big article  -->
  <article class="product-img-wrap">
    <!-- 홀리스틱 -->
    <section class="holistic-wrap">
      <div class="inner">
        <div class="big-text">
          <h3>AROMATICA</h3>
        </div>
        <div class="holistic-content">
          <p class="holistic-text">HOLISTIC AROMATHERAPY RITUAL</p>
          <ul class="holistic-text">
            <li>이슬 맺힌 초록빛 잎의 활력</li>
            <li>
              푸르른 티트리 잎의 청량한 초록빛 에너지가 몸과 마음을 정화시켜
              줍니다. 흐트러진 주위를 정리하고 불안한 마음을 다잡아 새로운
              에너지로 채워줍니다. 매서운 바람에도 지치지 않게 보호해주어
              활기차게 하루를 시작할 수 있게 이끌어줍니다.
            </li>
            <li>
              티트리의 강력하고 풍부한 향기는 청결함의 상징으로 부정적인
              감정에 상쾌함을 선사하여 지친 마음에 활력을 주고 자신감을
              선사합니다. 모노테르펜계열 티트리, 페퍼민트, 유칼립투스가 두피
              퓨리파잉에 도움을 줍니다.
            </li>
          </ul>
          <p class="holistic-text">
            Find Your Signature Scent <br />
            Lighten Up Your Mood
          </p>
        </div>
      </div>
    </section>
    <!-- shampoo -->
    <section class="shampoo-wrap shampoo01">
      <h4>TEA TREE PURIFYING SHAMPOO</h4>
    </section>
    <!-- two img -->
    <section class="set-img-wrap">
      <img src="../../img/teatree/shampoo01-03.jpeg" alt="" />
      <div class="add-box">
        <h5>
          두피를 시원하게 씻어내는 <br />
          지성 두피 샴푸
        </h5>
        <p>티트리 퓨리파잉 샴푸</p>
      </div>
    </section>
    <!--shampoo  -->
    <section class="shampoo-img-wrap">
      <img src="../../img/teatree/shampoo01.jpeg" alt="" />
      <img src="../../img/teatree/shampoo01-01.jpeg" alt="" />
      <img src="../../img/teatree/shampoo01-04.jpeg" alt="" />
      <img src="../../img/teatree/shampoo01-05.jpeg" alt="" />
    </section>
    <!-- how to use -->
    <section class="how-wrap">
      <div class="img-wrap">
        <img src="../../img/teatree/4_PC.jpeg" alt="" />
      </div>
      <div class="for-use-wrap">
        <ul>
          <li>
            <h6>HOW TO USE</h6>
            <span>사용법</span>
          </li>
          <li>
            <p>
            적당량을 덜어 거품을 낸 뒤 젖은 두피와 모발에 골고루 마사지하고,
            깨끗하게 헹구어 줍니다.
          </li>
          </p>
          <li>
            <p>
            샴푸 전, 우든 스칼프 브러쉬를 사용하여 모발 역방향으로 ‘거꾸로
            빗질’해 두피를 빗어주세요. 1차 클렌징을 도와줌과 동시에 모발
            사
            이사이 공간을 만들어 원활한 두피 클렌징을 도와줍니다.</p>
          </li>
          <li>
            <p>
        <ul>
            스칼프 케어 샴푸 브러쉬는 올바른 두피 세정을 도와줍니다. 실리콘
            재질의 돌기가 손가락이 닿지 않는 모공 속 노폐물과 두피 각질을
            부드럽게 탈락시켜주고, 혈액 순환을 촉진시켜 건강한 두피 관리에
            도움을 줍니다.
          </p>
          </li>
        </ul>
      </div>
    </section>
    <!-- join-the-circle -->
    <section class="join-wrap">
      <h3>JOIN THE CIRCLE</h3>
      <p>
        우리가 자원을 종류별로 열심히 분리배출해도 재활용 선별장에서 이들은
        대부분 뒤섞이고 오염됩니다. <br>그래서 아로마티카는 지역마다 거점을 세워
        공병과 투명 페트를 모으고 전기트럭으로 직접 수거해 아로마티카의
        공병을 만듭니다.<br> 아로마티카의 JOIN THE CIRCLE에 함께하고 싶다면, 다
        쓴 투명 페트 혹은 아로마티카의 공병의 내용물을 비우고<br> 라벨과
        병뚜껑을 분리해 당신과 가까운 곳에 있는 수거 거점에 가져오세요.
      </p>
      <div class="join-img-wrap">
      <img class="bottle"src="../../img/teatree/img_magazine_rotate_02.png" alt="" />
      <img class="absol" src="../../img/teatree/jointhecircle_text.png" alt="" />
    </div>
    <div class="btn-wrap">
      <button><a href="/views/solution/recylce-guide.html">LEARN MORE</a></button>
    </div>
    </section>
  </article>
  <!-- review -->
  <article class="review-wrap">
    <div class="btn-wrap">
    <h6 class="review-index">리뷰</h6>
    <button>더보기</button>
  </div>
    <ul class="review">
      <li>
        <p class="number">021</p>
        <span>좋아요. 재구매 의사 100</span>
        <p class="name">변지*</p>
        <p class="date">2023-01-12</p>
      </li>
      <li>
        <p class="number">022</p>
        <span>	선물용으로 보낸거라 사진은 기존에 사용 중이던 제품으로 대체합니다 사용해보. ...</span>
        <p class="name">이소*</p>
        <p class="date">2023-01-12</p>
      </li>
      <li>
        <p class="number">023</p>
        <span>만족!</span>
        <p class="name">호유*</p>
        <p class="date">2023-01-12</p>
      </li>
      <li>
        <p class="number">024</p>
        <span>만족합니다</span>
        <p class="name">김아*</p>
        <p class="date">2023-01-12</p>
      </li>
      <li>
        <p class="number">025</p>
        <span>샴푸 이걸로 바꾸길 잘했네요. 기존에 쓰던 제품보다 시원한 느낌이 참 좋습니다. ...</span>
        <p class="name">김태*</p>
        <p class="date">2023-01-12</p>
      </li>
    </ul>
    <div class="review-event-wrap">
      <p>텍스트 후기 : 500 / 포토 후기 : 1,000<br>
        매월 베스트 후기 3분을 선정하여 10,000점을 적립해 드립니다.</p>
    <button>리뷰 쓰기</button>
  </div>
  </article>
</div>
<script>
  let acc = document.getElementsByClassName("accordian");
  let bigPic = document.querySelector("#big");
  let smallPics = document.querySelectorAll(".small")

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() { //클릭이벤트를 추가한다. 
      this.classList.toggle("active"); //클래스를 추가하거나 삭제함. 

      let panel = this.nextElementSibling; //현재 아코디언의 다음노트를 가져온다. panel이 옴 
      if (panel.style.display === "block") { //출력모드가 블럭인지 none인지 체크한다.
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }


  for(let i = 0; i < smallPics.length; i++){
    smallPics[i].addEventListener("click",changePic); //event
  }
  function changePic(){
    let smallPicAttribute = this.getAttribute("src");
    bigPic.setAttribute("src", smallPicAttribute);
  }

  function myFunction() {
  alert("장바구니에 추가되었습니다!");
}
</script>

{% endblock %}
