/* heart keyframes */
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}


/* 공통 */
.inner {
  /* 11.6% */
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  padding-top: 60px;
}

.section {
  padding: 80px 0;
}

/* S: 4 Item Section */
.items-section {
  background-color: #fff;
  .title-wrap {
    display: flex;
    color: white;
    width: 100%;
    margin-bottom: 50px;
    &.type01 {
      justify-content: space-between;
      align-items: flex-end;
    }
    &.type02 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        margin-top: 30px;
        background-color: #fff;
        width: 160px;
        height: 50px;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
        }
      }
    }
    h4 {
      font-size: 24px;
      color: #333;
      margin-bottom: 30px;
    }
    p {
      font-size: 18px;
      color: #505050;
      font-family: var(--en-font);
    }
    button {
      background-color: #fff;
      width: 160px;
      height: 50px;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
      }
    }
  }
  .shop-4-items {
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    padding: 40px 30px;
    li {
      width: calc(25% - (60px / 4));
      background-color: white;
      margin-right: 20px;
      padding: 20px;
      &:nth-child(n+4) {
        margin-right: 0;
      }
      .img-wrap {
        width: 100%;
        max-height: 290px;
        margin-bottom: 30px;
      }
      .text-wrap {
        width: 100%;
        font-size: 14px;
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        .item-title {
          width: calc(100% - 70px);
          min-height: 28px;
          font-family: var(--en-font);
          font-family: var(--kr-font); 
        }
        .item-price {
          width: 70px;
          display: flex;
          justify-content: end;
          font-size: 12px;
          color: #333;
        }
      }
      .btn-wrap {
        background-color: rgb(209, 207, 207);
        text-align: center;
        padding: 12px;
        position: relative;
        span {
          color: white;
          font-size: 16px;
        }
        .like-icon {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          i {
            color: #fff;
          }
          &:hover {
            i {
              will-change: transform;
              animation: heartBeat 1s linear infinite;
            }
          }
        }
      }
    }
  }
}
/* E: 4 Item Section */

/***** S: fixed-btn *****/
.fixed-btn {
  z-index: 99999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  .top-btn {
    cursor: pointer;
    background-color: #3486667d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 18px;
    }
  }
  .my-wrap {
    #user-btn,
    #cart-btn {
      background-color: #3486667d;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      position: relative;

      p {
        top: 0px; left: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(13, 40, 20);
        color: #fff;
        font-size: 14px;
      }
      i {
        font-size: 18px;
      }
    }
  }

}
/***** E: fixed-btn *****/

/**************** S: modal *****************/

/* cart-wish-wrap */

.cart-wish-wrap-overlay {
width: 100%;
height: 100%;
position: fixed;
left: 0; top: 0;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(34, 26, 26, 0.95);
flex-direction: column;
  section {
  padding: 0;
  }
 .wrap-window {
  background-color: rgb(238, 237, 232);
  width: 80%;
  min-height: 700px;
 }
 .inner {
  padding: 0 20px;
  .title-wrap {
    margin: 20px 0;
    padding: 10px 10px;
    background-color: rgb(229, 225, 225);
    position: relative;
    .cancel-btn {
      position: absolute;
      top: 10px ;
      right: 20px;
      i {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 26px;
      font-family: var(--en-font);
    }
    p {
      color:  rgb(99, 97, 97);
      padding: 10px 0;
      font-size: 12px;
    }
  }
  .product-wrap {
    min-height: 250px;
    h5 {
      font-family: var(--en-font);
      border-bottom: 1px solid rgb(182, 176, 176);
      padding: 10px 20px;
      width: 90%;
      font-size: 23px;
    }
    p {
      font-size: 12px;
      text-align: center;
    }
  }
 }
 .cart-wrap {
  width: 100%;
  margin-bottom: 30px ;
 }

}
// form 
form {
  input {
    
  }
  .basket-wrap {
  min-height: 340px;

    //head
    .row-wrap.head {
      height: 30px;
      display: flex;
      margin-top: 10px;
      .sub-wrap {
        background-color: #0D2814;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &:nth-child(1) {
          width: 50%;
            .check {
              width: 20%;
              text-align: center;
            }
            .img {
              width: 20%;
              text-align: center;
            }
            .product-name {
              width: 60%;
              text-align: center;
            }
        }
        &:nth-child(2) {
          width: 40%;
          .basket-price {
            width: 33.3333%;
            text-align: center;
          }
          .num {
            width: 33.3333%;
            text-align: center;
          }
          .sum {
            width: 33.3333%;
            text-align: center;
          }
        }
        &:nth-child(3) {
          width: 10%;
          .basket-remove {
            text-align: center;
          }
        }
      }
    }
    //data
    .row-wrap.data {
      display: flex;
      .sub-wrap {
      border-bottom: 1px dotted #6b6767;
      min-height: 100px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
        // sub1
        &:nth-child(1) {
          width: 50%;
          .check {
            width: 20%;
            text-align: center;
            input {}
          }
          .img {
            width: 20%;
            text-align: center;
            img {
              width: 60px;
            }
          }
          .product-name {
            width: 60%;
            text-align: center;
            span {}
          }
        }
        // sub2
       &:nth-child(2) {
        width: 40%;
        .basket-price {
          text-align: center;
          width: 33.3333%;
          input {}
        }
        .num {
          text-align: center;
          width: 33.3333%;
          .updown {
            input {}
            span {}
          }
        }
        .sum {
          text-align: center;
          width: 33.3333%;
          
        }
       }
        //sub3
       &:nth-child(3) {
        width: 10%;
        .basket-remove {
          padding: 5px 15px;
          text-align: center;
          border-radius: 30px;
          background-color: #000;
          a {
            color: #fff;

          }
        }
       }

      }

    }
  }
  .right-align.basket-row-remove {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      background-color: rgb(171, 238, 170);
      padding: 5px 10px;
      border-radius: 25px;
    }
  }
  .bigtext-wrap.right-align.sumcount {
    text-align: end;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .bigtext-wrap.right-align.box.blue {
    text-align: end;
    font-size: 22px;
    color: rgb(4, 25, 164);
    margin-bottom: 30px;
  }
  #go-order {
    text-align: center;
    .clear {}
    .button-group.center-align.cmd {

      a {
        padding: 10px 20px;
        border: 1px solid #6b6767;
        background-color: #ded9d9;
        font-size: 18px;
      }
    }
  }
}




/* Log-in */
/* login-modal */
.log-in-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 26, 26, 0.95);
  display: none;
  .inner {
    background-color: #fff;
    width: 30%;
    position: relative;
    padding: 40px;
    section {
      padding: 30px 0;
    }
    .log-in-title {
      display: flex;
      h3 {
        font-size: 40px;
        text-align: center;
        width: 100%;
        font-family: var(--en-font);
      }
      .close {
        cursor: pointer;
        font-size: 40px;
        font-family: var(--en-font);
        position: absolute;
        top: 5px;
        right: 15px;
      }
    }
    .id-pw-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      input {
        font-size: 16px;
        border: none;
        border-bottom: 1px solid rgb(189, 187, 187);
        height: 40px;
        margin-bottom: 20px;
      }
      .find {
        color: #505050;
        font-size: 12px;
        text-align: end;
        cursor: pointer;
      }
    }
    .btn-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        cursor: pointer;
        border: none;
        width: 90%;
        height: 50px;
        background-color: var(--color-main);
        color: #fff;
        margin-bottom: 20px;
      }
      .find-way-wrap {
        display: flex;
        justify-content: center;
        font-size: 13px;
        p {
          &:first-child {
            margin-right: 10px;
          }
          a {
            border-bottom: 1px solid #333;
          }
        }
      }
    }
  }
}

/**************** E: modal ****************/



@media all and (max-width: 1160px) {

}

/* S: shopping-main-img */
.shopping-main-img{
  height: 600px;
  background-position: 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
.haircare-main-img {
  background-image: url('../img/teatree/08.pc.jpeg');
}
.new-main-img{
  background-image: url('../img/newItem/01.pc.jpeg');
}
.zero-main-img{
  background-image: url('../img/zero/main01.jpeg');
}
/* E: shopping-main-img */

/* S: shopping-product */
.shopping-product-wrap {
  margin-bottom: 60px;
  .text-wrap {
    position: relative;
    margin-bottom: 60px;
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background-color: black;
      position: absolute;
      left: 50%;
      bottom : -10px;
      transform: translateX(-50%);
    }
    h3 {
      font-family: var(--en-font);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #333;
    }
    p {
      font-family: var(--kr-font);
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      li {
        padding: 5px;
        margin: 0 10px;
        &:nth-child(2) {
          background-color:rgba(71, 92, 73, 0.9);
          a {
              color: #fff;
          }
        }
        a {
          font-family: var(--kr-font);
          font-size: 16px;
        }
      }
    }
  }
  .goods-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    li {
      padding: 0 20px;
      width: 25%;
      &:nth-child(n+5) {
        margin-top: 40px;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .text-box {
          width: 100%;
          font-size: 14px;
          padding: 30px 0 40px 0;
          display: flex;
          align-items: center;
          min-height: 98px; 
          p {
            width:  calc(100% - 70px);
            font-family: var(--en-font);
            font-family: var(--kr-font); 
          }
          span {
            width: 70px;
            font-size: 12px;
            color: #333;
            display: flex;
            justify-content: end;
          }
        }
        button {
          text-align: center;
          padding: 12px;
          position: relative;
          border: none;
          width: 100%;
          height: 50px;
          background-color: rgb(209, 207, 207);
          color: #fff;
          .like-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            &:hover {
              i{
                will-change: transform;
                animation: heartBeat 1s linear infinite;
              }
            }
          }
        }
      }
    }
  }
}  


// S: new media query
@media all and (max-width: 1160px) {
  .shopping-product-wrap .goods-wrap {
    margin: 0 -10px;
  }
  .shopping-product-wrap .goods-wrap li {
    width: 33.333%;
    padding: 0 10px;
  }
  .shopping-product-wrap .goods-wrap li:nth-child(n+4) {
    margin-top: 20px;
  }
}
	

@media (min-width: 768px) and (max-width: 1159px){
  .shopping-product-wrap {
    .goods-wrap {
      li {
        width: 33.333%;
        padding: 0 10px;
        margin-bottom: 50px;
        &:nth-child(n+4) {
          margin-top: 0;

        }
        div {
          .text-box {
            width: 100%;
            font-size: 16px;
            flex-direction: column;
            p {
              width: 100%;
              min-height: 40px;
              text-align: center;
              margin-bottom: 18px;
            }
            span {
              text-align: center;
              width: 100%;
              font-size: 18px;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

}
	
@media (min-width: 500px) and (max-width: 767px) {
  .shopping-product-wrap {
    .goods-wrap {
      li {
        width: 50%;
        margin-bottom: 80px;
        &:nth-child(n+4) {
        margin-top: 0;
        }
      }
      div {
        .text-box {
          flex-direction: column;
          padding: 20px 0 30px 0;
          width: 100%;
          p {
            min-width: 100%;
            margin-bottom: 10px;
            font-size: 20px;
            min-height: 50px;
            text-align: center;
          }
          // why..
          span {
            width: 100%;
            font-size: 20px;
            color: #333;
            justify-content: center;
          }
        }
      }
    }
  }
}

// S: new media query

    
// S: 공통 레이아웃 media
@media all and (max-width: 1160px) {
  .inner {
    padding: 0 20px;
  }
}

@media all and (max-width: 768px) {
  .inner {
    padding: 0 5.208vw; /* 40 */
  }
}
// E: 공통 레이아웃 media

