<header>
  <div class="header-wrap inner">
    <h1 class="logo"><a href="../index.html">AROMATICA</a></h1>
    <div class="header-nav">
      <ul class="dep1">
     <!-- 쇼핑 -->
        <li>
          <a href="#">Shopping</a>
          <div>
            <ul class="dep2">
              <li><a href="../../views/shopping/new.html">New</a></li>
              <li><a href="../../views/shopping/zero.html">Zero Waste</a></li>
              <li><a href="../../views/shopping/hair.html">Hair Care</a></li>
            </ul>
          </div>
        </li>
        <!-- 브랜드 -->
        <li>
          <a href="#">Brand</a>
          <div>
            <ul class="dep2">
              <li><a href="../../views/brand/story.html">스토리</a></li>
              <li><a href="../../views/brand/store.html">스토어</a></li>
              <li><a href="../../views/brand/material.html">원료</a></li>
            </ul>
          </div>
        </li>
        <!-- 솔루션 -->
        <li>
          <a href="#"> Solution </a>
          <div>
            <ul class="dep2">
              <li>
                <a href="../../views/solution/pickup.html">공병수거신청</a>
              </li>
              <li>
                <a href="../../views/solution/recylce-guide.html">분리배출가이드</a>
              </li>
            </ul>
          </div>
        </li>
        <!-- 이벤트 -->
        <li>
          <a href="../../views/event/event.html">Event</a>
        </li>
      </ul>
    </div>
    <!-- hambuger  menu bar -->
    <div class="mo-menu-wrap">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="header-dim"></div>
</header>

<div class="sidemenu">
  <div class="sidemenu-dim"></div>
  <div class="sidemenu-wrap">
    <div class="sidemenu-header">
      <div class="sidemenu-close-btn">
        <p>X</p>
      </div>
<ul class="reaction-tab">
  <!-- 01 -->
  <li class="reaction-tab-menu">
    <a href="#">Shopping</a>
    <ul class="reaction-tab-menu-small">
      <li><a href="#">New</a></li>
      <li><a href="#">Zero Waste</a></li>
      <li><a href="#">Hair Care</a></li>
    </ul>
  </li>
<!-- 02 -->
  <li class="reaction-tab-menu">
    <a href="#">Brand</a>
    <ul class="reaction-tab-menu-small">
      <li><a href="#">스토리</a></li>
      <li><a href="#">스토어</a></li>
      <li><a href="#">원료</a></li>
    </ul>
  </li>
<!-- 03 -->
  <li class="reaction-tab-menu">
    <a href="#">Solution</a>
    <ul class="reaction-tab-menu-small">
      <li><a href="#">공병수거신청</a></li>
      <li><a href="#">분리배출 가이드</a></li>
    </ul>
  </li>
<!-- 04 -->
  <li class="reaction-tab-menu">
    <a href="#">Event</a>
  </li>
</ul>

    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".header-nav > .dep1 > li")
      .mouseover(function () {
        console.log(";;");
        $("header").addClass("on");
      })
      .mouseout(function () {
        $("header").removeClass("on");
      });

    $(".mo-menu-wrap")
      .click(function() {
        $(".sidemenu").addClass("active")
      })

    $(".sidemenu-close-btn")
      .click(function() {
        $(".sidemenu").removeClass("active")
      })
  });
</script>
