{% extends "../_templates/layout.njk" %}
{% block content %}


<div id="story-wrap">
  <!-- 1 -->
  <section class="banner first-banner">
    <h4 class="banner-text">
      SAVE THE SKIN, <br />
      SAVE THE PLANET
    </h3>
  </section>
  <!-- 2 -->
  <section class="banner second-banner">
    <h4 class="banner-text">SAVE THE SKIN, <br>SAVE THE PLANET</h4>
    <video
      src="../../assets/images/stroy/main.mp4"
      loop=""
      muted=""
      playsinline=""
      volume="0"
      autoplay=""
    ></video>
    <p class="large-text">
      아로마티카는 아로마테라피의 정수를 담아 안전하고<br />
      건강한 아름다움을 표방합니다. 전 제품은 합성 향료와<br />
      인체에 유해한 성분을 배제한 비건 포뮬러 처방으로<br />
      생산됩니다. 아로마티카 생산공장은 국제 유기농·천연<br />
      화장품 인증기준인 COSMOS 인증을 취득하였으며,<br />
      인증기준에 맞추어 엄격하게 관리하고 있습니다.
    </p>
  </section>
  <!-- 3 -->
  <section class="banner third-banner">
    <div class="text">
      <h4 class="banner-text">
        SAFE INGREDIENT, <br />
        SAVE THE PLANET
      </h4>
      <p class="large-text">
        안전하고 효과적인 제품은 원료 생산에서부터 시작됩니다.
        아로마티카는 믿을 수 있는 생산지에서 지속가능한 방식으로
        수확되는 원료를 찾고, 원산지 생산 업체로부터 직접 구매하는 것을
        원칙으로 합니다.
      </p>
    </div>
    <img src="../img/stroy/2.png" alt="" />
    <img src="../../assets/images/stroy/2.png" alt="" />

    <div class="text">
      <h4 class="banner-text">FROM <br />AROMATHERAPY</h4>
      <p class="large-text">
        아로마티카는 2004년 아로마테라피스트의 손에서 탄생했습니다.
        아로마티카에서 사용하는 천연 향료, ‘에센셜 오일‘은
        아로마테라피의 근본이 되는 원료입니다. 식물(Herb)의 특성에 따라
        꽃, 잎, 줄기, 뿌리, 열매, 껍질, 수지 등에서 추출한 100% 순수한
        천연 정유를 뜻합니다.
        <br />
        <br />
        에센셜 오일은 고대부터 몸과 마음, 정신을 건강하게 하고
        자가면역력을 증강시키는 자연 치료법으로 오랫동안 사용되어왔으며
        최근에는 대체의학으로 새롭게 주목받고 있습니다.
        <br />
        <br />
        아로마티카 제품에는 에센셜 오일 뿐 아니라 세계 각지에서 공수한
        천연 원료를 아로마테라피의 다양한 추출법을 이용해 블렌딩하여
        제품의 원료로 사용합니다
      </p>
    </div>
  </section>


  <!-- history -->
  <section class="banner history">
    <div class="history-text">
      <h4 class="banner-text">HISTORY</h4>
      <p class="large-text">
        클린 앤 비건 뷰티, 아로마티카가 걸어온 길
      </p>
    </div>
    <div class="history-content">
      <div id="history-slide">
        <!-- 2004 -->
        <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_01.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2004</h6>
            <ul class="slide-text-description-wrap">
              <li>안전한 화장품을 위한 아로마티카의 시작</li>
              <li>No, 미네랄오일 & 실리콘 - 아로마테라피 롤온, 마사지 오일 출시</li>
              <li>Free 파라벤 & 실리콘 - 로즈 스킨케어 라인 출시</li>
            </ul>
          </div>
        </div>
         <!-- 2005 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_02.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2005</h6>
            <ul class="slide-text-description-wrap">
              <li>기업 부설 연구소 설립</li>
              <li>천연 방부제 특허 취득</li>
              <li>Free 실리콘 & 설페이트 - 샴푸 출시</li>
              <li>Free 합성향 - 페이셜 미스트 출시</li>
            </ul>
          </div>
        </div>
         <!-- 2010 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_03.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2010</h6>
            <ul class="slide-text-description-wrap">
            <li>Free PEG & 페녹시에탄올 - 알로에 베라 젤 출시</li>
            <li>EWG Skindeep 전성분 등재</li>
            </ul>
          </div>
        </div>
         <!-- 2011 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_04.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2011</h6>
            <ul class="slide-text-description-wrap">
            <li>EWG ‘안전한 화장품 챔피언’ 수상</li>
            <li>ECOCERT ‘유기농 화장품 제조 시설’ 인증</li>
            <li>Free 실리콘 - 무기자차 선크림 출시</li>
            </ul>
          </div>
        </div>
         <!-- 2015 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_05.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2015</h6>
            <ul class="slide-text-description-wrap">
              <li>Vegan society 파트너 등록</li>
              <li>선 스크린 라인, 미국 FDA OTC 등록</li>
            </ul>
          </div>
        </div>
         <!-- 2016 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_06.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2016</h6>
            <ul class="slide-text-description-wrap">
              <li>EWG 베스트 선크림 선정</li>
              <li>EWG VERIFIED 인증 획득 (33개 품목)</li>
              <li>Free 향료 - 비건 여성 청결제 출시 수축필름 전면중지</li>
            </ul>
          </div>
        </div>
         <!-- 2019 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_07.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2019</h6>
            <ul class="slide-text-description-wrap">
              <li>에코 프랜들리 스마트 팩토리 설립</li>
              <li>COSMOS 유기농 인증 획득</li>
              <li>UN GLOBAL COMPACT 가입</li>
            </ul>
          </div>
        </div>
         <!-- 2020 -->
         <div class="history-slide-item">
          <div class="slide-img">
            <img src="../../assets/images/stroy/history_08.png" alt="">
          </div>
          <div class="slide-text">
            <h6 class="slide-text-title">2020</h6>
            <ul class="slide-text-description-wrap">
              <li>100% PCR 용기 제품 출시</li>
              <li>국내 뷰티 브랜드 최초 리필 스테이션 오픈</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 4 -->
  <section class="banner fourth-banner">
    <h4 class="banner-text">SUSTAINABLE PACKAGE</h4>
    <div class="volume_box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
     
    </div>
    <p class="large-text">
      지속가능한 뷰티, 지속가능한 환경, 지속가능한 삶. 아로마티카는 지속가능성과 환경 보호 대해서 끊임없이 연구합니다. <br>플라스틱 대신 유리 용기를 개발하고, 고객에게 재활용을 권장하며, 용이한 재활용을 위한 패키지를 만듭니다.
    </p>
  </section>
</div>

<script>
  $(function () {
    $("#history-slide").slick({
      slide: "div", //슬라이드 되어야 할 태그 ex) div, li
      infinite: true, //무한 반복 옵션
      slidesToShow: 5, // 한 화면에 보여질 컨텐츠 개수
      slidesToScroll: 1, //스크롤 한번에 움직일 컨텐츠 개수
      speed: 100, // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
      arrows: true, // 옆으로 이동하는 화살표 표시 여부
      dots: true, // 스크롤바 아래 점으로 페이지네이션 여부
      autoplay: true, // 자동 스크롤 사용 여부
      autoplaySpeed: 10000, // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
      pauseOnHover: true, // 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
      vertical: false, // 세로 방향 슬라이드 옵션
      prevArrow: "<button type='button' class='slick-prev'>Previous</button>", // 이전 화살표 모양 설정
      nextArrow: "<button type='button' class='slick-next'>Next</button>", // 다음 화살표 모양 설정
      dotsClass: "slick-dots", //아래 나오는 페이지네이션(점) css class 지정
      draggable: true, //드래그 가능 여부

      responsive: [
        // 반응형 웹 구현 옵션
        {
          breakpoint: 960, //화면 사이즈 960px
          settings: {
            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 768, //화면 사이즈 768px
          settings: {
            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
            slidesToShow: 2,
          },
        },
      ],
    });
  });
</script>
{% endblock %}